:root {
    --bg-nav: #6565fc;
}

/* selettori tag */
nav {
    background-color: var(--bg-nav);
}

main {
    background-color: orange;
}

aside {
    background-color: blueviolet;
}

/*selettore classe */
.primo {
    background-color: chartreuse;
    width: 200px;
    height: 100px;
}
.secondo {
    background-color: gold;
    width: 200px;
    height: 100px;
}
.terzo {
    
    width: 200px;
    height: 100px;
}
div {
    background-color: red;
}